<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Admin - AstroMedibles</title>
        <%- include('./head') %>
    </head>

    <body>
        <%- include('./navbar') %>

        <main>
            <section class="clean-block clean-cart dark">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">Admin</h2>

                        <!-- Radio Button Group -->
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <label id="radioOrders" class="btn btn-secondary active">
                              <input type="radio" name="options"  autocomplete="off" onclick="radioOrdersClick()" checked> Orders
                            </label>

                            <label id="radioCodes" class="btn btn-secondary">
                              <input type="radio" name="options"  autocomplete="off" onclick="radioCodesClick()"> Codes
                            </label>

                            <label id="radioChart" class="btn btn-secondary">
                                <input type="radio" name="options"  autocomplete="off" onclick="radioChartClick()"> Chart
                            </label>

                            <label id="radioPickups" class="btn btn-secondary">
                                <input type="radio" name="options"  autocomplete="off" onclick="radioPickupsClick()"> Pickups
                            </label>

                        </div>

                    </div>

                    <div class="row content">
                        <div class="col-md-12">


                            <div id="orders-items" class="items"  >

                                <!-- ORDERS -->

                            </div>


                            <div id="codes-items" class="items" hidden >

                                <!-- CODES -->


                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start ">  
                    
                                        <div class="col-md-6 product-info ">
                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <span>Description</span>
                                                    <br>
                                                    <span class="value">A single Access Code is used for a user to register their account.
                                                    </span>
                                                </div>
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <button type="button" class="btn btn-primary rounded-pill" onClick="generateAccessCodes()"  >Generate Codes</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 product-info">
                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <span>Active Access Codes</span>
                                                    <br>
                                                    <textarea readonly class="form-control" id="activeAccessCodes" rows="10" style="text-align: center;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        
                                       
                    
                                    </div>
                                </div>

                            </div>


                            <div id="chart-items" class="items" hidden>

                                <!-- CHART -->

                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start ">
                    
                    
                                        <div class="col-md-12 product-info">
                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
    
                                                    
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Item</th>
                                                                <th scope="col">Payment Required</th>
                                                                <th scope="col">Payment Recieved</th>
                                                                <th scope="col">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="chartTable" style="font-weight: normal;" >
                                                            <tr>
                                                                <td class="table"> ... </td>
                                                                <td class="table-danger"  >0</td>
                                                                <td class="table-primary" >0</td>
                                                                <td>0</td>
                                                            </tr>
                                                        </tbody>
                                                      </table>
    
                                                      <br>
                                                      <p id='chartMapPaymentRequired'></p>
                                                      <br>
                                                      <p id='chartMapPaymentRecieved'></p>
                                                      <br>
                                                      <p id='chartMapTotal'></p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div id="pickups-items" class="items" hidden>

                                <!-- PICKUPS -->

                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start ">
                    
                    
                                        <div class="col-md-12 product-info">
                                            <div class="product-specs d-flex flex-column  align-items-center" style="padding: 0px 0px 15px 0px; text-align: center;">

                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Date / Time</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Order ID</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody id="pickupsTable" style="font-weight: normal;" >
                                                        <!-- Date -->
                                                        <tr>
                                                            <th class="table w-50">November 17th</th>
                                                            <th class="table w-25"></th>
                                                            <th class="table w-25"></th>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:15pm</td>
                                                            <td class="table w-25" >Flo Progressive</td>
                                                            <td class="table w-25" >835F79</td>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:30pm</td>
                                                            <td class="table w-25" >Jake Statefarm</td>
                                                            <td class="table w-25" >X35F52</td>
                                                        </tr>

                                                        
                                                        <!-- Date -->
                                                        <tr>
                                                            <th class="table w-50">November 18th</th>
                                                            <th class="table w-25"></th>
                                                            <th class="table w-25"></th>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:15pm</td>
                                                            <td class="table w-25" >Flo Progressive</td>
                                                            <td class="table w-25" >L7X3S3</td>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:30pm</td>
                                                            <td class="table w-25" >Jake Statefarm</td>
                                                            <td class="table w-25" >G58JFS</td>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:45pm</td>
                                                            <td class="table w-25" >Justin Case</td>
                                                            <td class="table w-25" >X35F52</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </section>
        </main>

        <%- include('./footer') %>

        <script type="text/javascript" src="../javascripts/admin.js"></script>

    </body>
</html>