<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Admin - AstroMedibles</title>
        <%- include('./head') %>
    </head>

    <body>
        <%- include('./navbar') %>

        <main>
            <section class="clean-block clean-cart dark">
                <div class="container-fluid">
                    <div class="block-heading">
                        <h2 class="text-info">Admin Panel</h2>

                        <!-- Radio Button Group -->
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <label id="radioOrders" class="btn btn-secondary active">
                              <input type="radio" name="options"  autocomplete="off" onclick="radioOrdersClick()" checked> Orders
                            </label>

                            <label id="radioCodes" class="btn btn-secondary">
                              <input type="radio" name="options"  autocomplete="off" onclick="radioCodesClick()"> Codes
                            </label>

                            <label id="radioChart" class="btn btn-secondary">
                                <input type="radio" name="options"  autocomplete="off" onclick="radioChartClick()"> Chart
                            </label>

                            <label id="radioPickups" class="btn btn-secondary">
                                <input type="radio" name="options"  autocomplete="off" onclick="radioPickupsClick()"> Pickups
                            </label>

                        </div>

                    </div>

                    <div class="row content">
                        <div class="col-md-12">

                            <div id="orders-items-outer" class="items" >
                                <div class="product">
                                    <div class="row product-image">
                                        <br>
                                        <h4 style="text-align: center;">Customer Orders</h4>
                                        
                                        <p style="text-align: center;">Update the status of customer orders</p>

                                        <div id="orders-items" class="items">
            
                                            <!-- ORDERS -->
            
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>
                            


                            <div id="codes-items" class="items" hidden >

                                <!-- CODES -->


                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start ">  
                                        
                                        <h4 style="text-align: center;">Create or Get Access Codes</h4>
                                        <p style="text-align: center;">Share these codes with new customers to allow them to create an account</p>
                                                     
                                        <div class="col-md-6 product-info ">
                                            <div class="product-specs d-flex flex-column  align-items-center">

                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <span>Description</span>
                                                    <br>
                                                    <span class="value">Access Code is used for a user to register their account
                                                    </span>
                                                </div>
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <button type="button" class="btn btn-primary rounded-pill" onClick="generateAccessCodes()"  >Generate Codes</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 product-info">
                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                <div style="padding: 0px 0px 15px 0px; text-align: center;">
                                                    <span>Active Access Codes</span>
                                                    <br>
                                                    <textarea readonly class="form-control" id="activeAccessCodes" rows="10" style="text-align: center;"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div id="chart-items" class="items" hidden>

                                <!-- CHART -->

                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start ">
                                        <h4 style="text-align: center;">What items to bake?</h4>
                                        <p style="text-align: center;">This table shows what items customers have ordered</p>

                                        
                                        <div class="col-md-12 product-info">
                                            <div class="d-flex flex-column  align-items-center" style="padding: 0px 0px 15px 0px; text-align: center;">
                                                <br>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" style="font-weight: normal;">Item</th>
                                                            <th scope="col" style="font-weight: normal;">Payment Required</th>
                                                            <th scope="col" style="font-weight: normal;">Payment Recieved</th>
                                                            <th scope="col" style="font-weight: normal;">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="chartTable" style="font-weight: normal;" >
                                                        <tr>
                                                            <td class="table"> ... </td>
                                                            <td class="table-danger"  >0</td>
                                                            <td class="table-primary" >0</td>
                                                            <td>0</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <br>
                                                <p id='chartMapPaymentRequired'></p>
                                                <br>
                                                <p id='chartMapPaymentRecieved'></p>
                                                <br>
                                                <p id='chartMapTotal'></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="pickups-items" class="items" hidden>

                                <!-- PICKUPS -->

                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start ">
                                        <h4 style="text-align: center;">Upcoming Customer Pickups</h4>
                                        <p style="text-align: center;">Days and times customers have requested to pick up their order</p>

                                        <div class="col-md-12 product-info">
                                            <div class="d-flex flex-column  align-items-center" style="padding: 0px 0px 15px 0px; text-align: center;">
                                                <br>
                                                <br>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" style="font-weight: normal;">Date</th>
                                                            <th scope="col" style="font-weight: normal;">Name</th>
                                                            <th scope="col" style="font-weight: normal;">Order ID</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody id="tablePickups" style="font-weight: normal;" >
                                                        <!-- Date -->
                                                        <tr>
                                                            <th class="table w-50">November 17th</th>
                                                            <th class="table w-25"></th>
                                                            <th class="table w-25"></th>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:15pm</td>
                                                            <td class="table w-25" >Flo Progressive</td>
                                                            <td class="table w-25" >835F79</td>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:30pm</td>
                                                            <td class="table w-25" >Jake Statefarm</td>
                                                            <td class="table w-25" >X35F52</td>
                                                        </tr>

                                                        
                                                        <!-- Date -->
                                                        <tr>
                                                            <th class="table w-50">November 18th</th>
                                                            <th class="table w-25"></th>
                                                            <th class="table w-25"></th>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:15pm</td>
                                                            <td class="table w-25" >Flo Progressive</td>
                                                            <td class="table w-25" >L7X3S3</td>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:30pm</td>
                                                            <td class="table w-25" >Jake Statefarm</td>
                                                            <td class="table w-25" >G58JFS</td>
                                                        </tr>
                                                        <!-- Time, Name, Order ID -->
                                                        <tr>
                                                            <td class="table w-50" >4:45pm</td>
                                                            <td class="table w-25" >Justin Case</td>
                                                            <td class="table w-25" >X35F52</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="product">
                                    <div class="row product-image d-flex justify-content-between align-items-start ">

                                        <div class="col-md-12 product-info">
                                            <div class="d-flex flex-column  align-items-center" style="padding: 0px 0px 15px 0px; text-align: center;">
                                                <!-- <div class="row"> -->
                                                    <!-- <div class="col d-flex flex-column  align-items-center"> -->

                                                <h4>Customer Pickup Schedule</h4>
                                                <p style="text-align: center;">Set the days and times customers can select, to pick up their order</p>

                                                <div class="product" >
                                                    <div class="row product-image d-flex align-items-start ">
                                    
                                                        <div class="col-md-4 product-info">
                                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                                <div style="padding: 0px 0px 15px 0px; text-align: center; font-weight: normal;">
                                                                    <h6>Set Pickup Days</h6>
                                                                    <br>
                                                                
                                                                    <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">
                                                                        <form>
                                                                            <fieldset class="form-group">
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkDay1">
                                                                                    <label class="form-check-label" for="checkDay1">Sunday</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkDay2">
                                                                                    <label class="form-check-label" for="checkDay2">Monday</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkDay3">
                                                                                    <label class="form-check-label" for="checkDay3">Tuesday</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkDay4">
                                                                                    <label class="form-check-label" for="checkDay4">Wednesday</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkDay5">
                                                                                    <label class="form-check-label" for="checkDay5">Thursday</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkDay6">
                                                                                    <label class="form-check-label" for="checkDay6">Friday</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkDay7">
                                                                                    <label class="form-check-label" for="checkDay7">Saturday</label>
                                                                                </div>
            
                                                                            </fieldset>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="col-md-4 product-info">
                                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                                <div style="padding: 0px 0px 15px 0px; text-align: center;  font-weight: normal;">
                                                                    <h6>Set Pickup Times</h6>
                                                                    <br>
                                                                    <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">
                                                                        <form>
                                                                            <fieldset class="form-group">
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime1">
                                                                                    <label class="form-check-label" for="checkTime1">1:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime2">
                                                                                    <label class="form-check-label" for="checkTime2">2:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime3">
                                                                                    <label class="form-check-label" for="checkTime3">3:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime4">
                                                                                    <label class="form-check-label" for="checkTime4">4:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime5">
                                                                                    <label class="form-check-label" for="checkTime5">5:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime6">
                                                                                    <label class="form-check-label" for="checkTime6">6:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime7">
                                                                                    <label class="form-check-label" for="checkTime7">7:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime8">
                                                                                    <label class="form-check-label" for="checkTime8">8:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime9">
                                                                                    <label class="form-check-label" for="checkTime9">9:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime10">
                                                                                    <label class="form-check-label" for="checkTime10">10:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime11">
                                                                                    <label class="form-check-label" for="checkTime11">11:00 AM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime12">
                                                                                    <label class="form-check-label" for="checkTime12">12:00 PM</label>
                                                                                </div>
            
                                                                            </fieldset>
                                                                        </form>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="col-md-4 product-info ">
                                                            <div class="product-specs d-flex flex-column  align-items-center">
                                                                <div style="padding: 0px 0px 15px 0px; text-align: center;  font-weight: normal;">
                                                                    <h6>&nbsp;</h6>
                                                                    <br>
                                                                    <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">
                                                                        <form>
                                                                            <fieldset class="form-group">
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime13">
                                                                                    <label class="form-check-label" for="checkTime13">1:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime14">
                                                                                    <label class="form-check-label" for="checkTime14">2:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime15">
                                                                                    <label class="form-check-label" for="checkTime15">3:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime16">
                                                                                    <label class="form-check-label" for="checkTime16">4:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime17">
                                                                                    <label class="form-check-label" for="checkTime17">5:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime18">
                                                                                    <label class="form-check-label" for="checkTime18">6:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime19">
                                                                                    <label class="form-check-label" for="checkTime19">7:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime20">
                                                                                    <label class="form-check-label" for="checkTime20">8:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime21">
                                                                                    <label class="form-check-label" for="checkTime21">9:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime22">
                                                                                    <label class="form-check-label" for="checkTime22">10:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime23">
                                                                                    <label class="form-check-label" for="checkTime23">11:00 PM</label>
                                                                                </div>
            
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="checkTime24">
                                                                                    <label class="form-check-label" for="checkTime24">12:00 AM</label>
                                                                                </div>
            
                                                                            </fieldset>
                                                                        </form>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <br>
                                                        <button type="button" class="btn btn-primary rounded-pill w-50 disabled align-items-center" onClick="updatePickup()"  >Update Pickups</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </section>
        </main>

        <%- include('./footer') %>

        <script type="text/javascript" src="../javascripts/admin.js"></script>

    </body>
</html>