<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Shopping Cart - AstroMedibles</title>
        <%- include('./head') %>

    </head>

<body>
    <%- include('./navbar') %>

    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Check Out</h2>
                    <p id="pMessage">Oops, you don't have any items in your cart!</p>
                </div>
                <div class="content">
                    <div class="row g-0">
                        <div class="col-md-12 col-lg-8">
                            <div id="cart-items" class="items">

                                <!--
                                    ITEMS ...
                                -->


                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <h4><span class="text">Subtotal</span><span id="summary-subtotal"   class="price">$0</span></h4>
                                <h4><span class="text">Discount</span><span id="summary-discount"   class="price">$0</span></h4>
                                <!-- <h4><span class="text">Shipping</span><span id="summary-shipping"   class="price">$0</span></h4> -->
                                <h4><span class="text">Total</span>   <span id="summary-total"      class="price">$0</span></h4>
                                <form action="userPlaceOrder" method="POST">
                                    <a id="buttonPlaceOrder" class="btn btn-primary btn-lg d-block w-100" type="button" onClick="userPlaceOrder()">Place your order</a>
                                </form>
                                <div id="textPlaceOrder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('./footer') %>

    <script type="text/javascript" src="../javascripts/checkout.js"></script>
    
</body>

</html>