<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Feedback - AstroMedibles</title>
    <%- include('./head') %>
</head>

<body>

  <%- include('./navbar') %>

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Send Feedback</h2>
                <p>Feedback about your service, or the website is always appreciated</p>
            </div>
            <form>
                <div class="mb-3">
                    <label class="form-label">Subject</label>
                    <input id="inputSubject" class="form-control item" type="text" maxlength="50" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea id="inputDescription" class="form-control" rows="10" maxlength="1250" type="text" required></textarea>
                </div>
                <br>
                <button id="buttonSubmit" type="button" class="btn btn-primary" onclick="userSendFeedback()">Submit</button>
            </form>
        </div>
    </section>
</main>
  
  <%- include('./footer') %>
  <script type="text/javascript" src="../javascripts/feedback.js?v=1.0.2"></script>
</body>
</html>
