<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Menu - AstroMedibles</title>
    <%- include('./head') %>
</head>

<body>
    
    <%- include('./navbar') %>
    <!-- <br><br><br><br><br> -->
    <div class="container">
        <section>
            <div class="text-center">
                <h2 class="text-info">Menu</h2>
                <p>Prepare to blast off!</p>
            </div>
        </section>
        <section>
            <div id="myform" class="row g-3" >

            </div>
            <br>
        </section>

        <%- include('./modal') %>
    </div>
    
    <%- include('./footer') %>

    <script type="text/javascript" src="../javascripts/menu.js"></script>
    <script type="text/javascript" src="../javascripts/welcomepopup.js"></script>
</body>

</html>