<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Menu - AstroMedibles</title>
    <%- include('./head') %>
    <link rel="stylesheet" href="../stylesheets/menu.css">
</head>

<body>
    
    <%- include('./navbar') %>
    <!-- <br><br><br><br><br> -->
        <div class="container">
            <section>
                <div class="block-heading">
                    <h2 class="text-info">Menu</h2>
                    <p>Prepare to blast off!</p>
                </div>
            </section>
            <section>
                <!-- <div id = "myform" class="row" style="border-style: none;border-color: rgba(33,37,41,0);margin-right: 0px;margin-left: 0px;height: auto;"> -->
                <div id="myform" class="row d-flex" >

                    <!-- <div name="card" data-item-id="card.ItemID" data-item-name="card.ItemName" data-item-price="card.ItemPrice>" data-item-mg="card.ItemMg" class="col" style="padding: 6px;min-width: 360px;max-width: 648px;width: auto;border-style: none;">
                        <div class="card d-flex flex-column" style="border-style: none;">
                            <div class="row" style="margin: 0px;">
                                <div class="col-auto" style="padding: 0px;"><img class="rounded img-fluid d-flex me-auto" src="../images/777.jpg" style="max-height: 150px;max-width: 150px;"></div>
                                <div class="col" style="padding-right: 0px;padding-left: 0px;">
                                    <h6 small id="shop-item-title" class="text-center border rounded shadow" style="margin: 0px;max-height: 35%;height: auto;min-height: 35%;border-style: dashed;border-color: var(--bs-light);">222</h6 small>
                                    <div class="row g-0" style="margin: 0px;padding-right: 6px;padding-left: 6px;height: auto;max-height: 35%;min-height: 35%;">
                                        <div class="col align-self-center">
                                            <p class="text-center justify-content-lg-center align-items-lg-center" style="margin-bottom: 0px;">444</p>
                                        </div>
                                        <div class="col align-self-center">
                                            <p id="shop-item-price" class="text-center justify-content-lg-center align-items-lg-center" style="margin-bottom: 0px;">5</p>
                                        </div>
                                    </div>
                                    <div class="row g-0" style="margin: 0px;padding-right: 6px;padding-left: 6px;max-height: 30%;height: auto;min-height: 30%;">
                                        <div class="col align-self-center">
                                            <button name="shop-item-button" class="btn btn-primary d-flex justify-content-center align-items-center align-content-center align-self-center m-auto align-items-lg-end" type="button" style="padding: 0px;width: 100%;">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->



                </div>
            </section>
        </div>
    
    <%- include('./footer') %>

    <script type="text/javascript" src="../javascripts/menu.js"></script>
</body>

</html>