<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>My Orders - AstroMedibles</title>
    <%- include('./head') %>
</head>

<body>
    
    <%- include('./navbar') %>

    <main>
        <section class="clean-block clean-cart dark">
            <div class="container-fluid">
                <div class="block-heading">
                    <h2 class="text-info">Orders</h2>
                    <p>Check this page to view your order status below</p>
                    <br>
                    <p>Payment Methods: Venmo, Apple Pay, or cash at pickup</p>
                    <br>
                    <p>Orders can take up to two weeks to be fulfilled depending on demand, thank you for your patience</p>
                </div>

                <div class="row content">
                        <div class="col-md-12">

                            <div id="cart-items" class="items" style="padding: 0px, 0px, 0px, 0px;">

                                <!-- orders -->
                            </div>
                        </div>
                        
                </div>
            </div>
        </section>
    </main>
    
    <%- include('./footer') %>

    <script type="text/javascript" src="../javascripts/orders.js?v=1"></script>
</body>

</html>