<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>My Orders - AstroMedibles</title>
    <%- include('./head') %>
</head>

<body>
    
    <%- include('./navbar') %>

    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Orders</h2>
                </div>

                <div class="content">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div id="cart-items" class="items">

                                <!-- <div class="product">
                                    <div class="row product-image justify-content-center align-items-start">
                                        <div class="col-md-3 product-info"><a class="product-name" href="#">Variety Treats</a>
                                            <div class="product-specs">
                                                <div><span>Price:&nbsp;</span><span class="value">$15.00</span></div>
                                                <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                                <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 product-info"><a class="product-name" href="#">Variety Treats</a>
                                            <div class="product-specs">
                                                <div><span>Price:&nbsp;</span><span class="value">$15.00</span></div>
                                                <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                                <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 product-info"><a class="product-name" href="#">Variety Treats</a>
                                            <div class="product-specs">
                                                <div><span>Price:&nbsp;</span><span class="value">$15.00</span></div>
                                                <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                                <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 product-info"><a class="product-name" href="#">Variety Treats</a>
                                            <div class="product-specs">
                                                <div><span>Price:&nbsp;</span><span class="value">$15.00</span></div>
                                                <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                                <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('./footer') %>

    <script type="text/javascript" src="../javascripts/orders.js"></script>
</body>

</html>