<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Thank You - AstroMedibles</title>
    <%- include('./head') %>
</head>

<body>
    
    <%- include('./navbar') %>

    <main class="page catalog-page">
        <section class="clean-block clean-catalog dark">
            <div class="container">
                <section>
                    <div class="block-heading">
                        <h2 class="text-info">Thank you for your order!</h2>
                        <p>Send your payment to one of the following:
                        <br>Venmo: @ASTRO-MEDIBLES
                        <br>Apple Pay: 346-561-5290
                        <br>
                        <br>You can visit the status of your order at <a href="/MyOrders">My Orders</a>.</p>
                    </div>
                </section>
                <section></section>
            </div>
        </section>
    </main>
    
    <%- include('./footer') %>


</body>

</html>