<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Verify - AstroMedibles</title>
    <%- include('./head') %>
</head>

<body>

  <%- include('./navbar') %>

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Verification</h2>
                <p id="directionsLabel">Enter the code sent to your email</p>
            </div>

            <form>                
                <div class="mb-3">
                    <!-- <label class="form-label">Verification Code <a href="/login">(Resend Code)</a></label> -->
                    <label class="form-label">Verification Code</label>
                    <input id="inputCode" class="form-control item" type="text" maxlength="100" autocomplete="off" required>
                </div>

                <br>
                <button class="btn btn-primary" type="button" onclick="submit_verification_code()">Submit</button>
            </form>

        </div>
    </section>
</main>

    <%- include('./footer') %>
    <script type="text/javascript" src="../javascripts/verify.js?v=1.0.1"></script>
</body>
</html>
