<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets\css\bootstrap.min.css">
  <!--<link rel="stylesheet" href="styles.css"> -->
  <title>AstroMedibles</title>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <a class="navbar-brand" href="menu.html">
      <img src="assets\images\icon.png" width="64" height="64" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="menu.html">MENU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="bulkpurchase.html">BULK PURCHASE</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" href="account.html">My Account</a>
    </form>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <tbody>
		    <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\888.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\44.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>

		    <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\11.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\22.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>

		    <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\33.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\44.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>


		    <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\55.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\66.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>


        <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\77.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\99.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>


        <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\111.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\222.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>



        <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\333.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\444.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>
        <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\555.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\666.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>
        <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\777.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\muffins.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>
        <tr>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\999.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Fruity Pebbles <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
          </td>
		      <td class="w-25">
            <div class="card" style="width: 24rem;">
              <img class="card-img-top" src="assets\images\222.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Chocolate Donuts <br> $10.00 (100 Mg)</p>
                <button type="button" class="btn btn-primary btn-lg btn-block"">Add To Order</button>
              </div>
            </div>
		      </td>
        </tr>
        


		  </tbody>
		</table>   
    </div>
  </div>
</div>

