<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets\css\bootstrap.min.css">
  <!--<link rel="stylesheet" href="styles.css"> -->
  <title>AstroMedibles</title>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <a class="navbar-brand" href="menu.html">
      <img src="assets\images\icon.png" width="64" height="64" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="menu.html">MENU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="bulkpurchase.html">BULK PURCHASE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="manage.html">Manage Menu</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" href="account.html">My Account</a>
    </form>
  </div>
</nav>


<div class="jumbotron">
  <form>
    <fieldset>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Marko Bachynsky <br>
            2151 COLONIAL ST <br>
            ALVIN, TX 77511-4375 <br>
            United States <br>
            Phone number: ‪8327209736‬ <br>
            MarkoBachynsky@gmail.com

          </p>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link">Remove</a>
        </div>
      </div>

      <legend>My information</legend>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      

  </form>
</div>


