<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  
    <!-- jQuery Script -->
    <script src="..\public\javascripts\jquery-3.5.1.min.js"></script>
    <script src="..\public\javascripts\bootstrap.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="..\public\stylesheets\bootstrap.css" media="screen">
    <title>AstroMedibles Menu</title>
  </head>

<!-- Top Navbar -->
<div class="container">
  <div class="row">
    <nav id="navbar-example2" class="navbar fixed-top navbar-dark bg-dark"  style="display: inline-block;" >
      <!-- Logo -->
      <img src="..\public\images\icon.png" width="64" height="64" alt="">
      <!-- Logo -->
      <div class="w-100"></div>
      <ul class="nav nav-pills" style="justify-content: space-evenly;">
        <li class="nav-item">
          <a class="nav-link" href="#Treats">Treats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Drinks">Drinks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Specials">Specials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- End Top Navbar -->


<!-- Body -->
<br><br>
<body id="Treats" data-spy="scroll" data-target="#navbar-example2" data-offset="0" position: relative; overflow-y: scroll; " style="padding-top: 75px;">
  <div class="container">

  <!-- ONE -->
  <div class="w-100"></div>
          
    <h1 class="font-weight-bold" style="padding-top: 20px; color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px dodgerblue;">
      Treats
    </h1>
    <br>
    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\44.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Chocolate Donuts</h4>
            $10.00  &nbsp;&nbsp; 100 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\44.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Chocolate Donuts</h4>
            $10.00  &nbsp;&nbsp; 100 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\44.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Chocolate Donuts</h4>
            $10.00  &nbsp;&nbsp; 100 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\44.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Chocolate Donuts</h4>
            $10.00  &nbsp;&nbsp; 100 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\44.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Chocolate Donuts</h4>
            $10.00  &nbsp;&nbsp; 100 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\44.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Chocolate Donuts</h4>
            $10.00  &nbsp;&nbsp; 100 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

  
    <!-- TWO -->
    <div class="w-100"></div>
    <p id="Drinks"></p>
    <div style="height: 100px;"></div>
    <h1 class="font-weight-bold" style="padding-top: 20px; color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px dodgerblue;">
      Drinks
    </h1>
    <br>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
      <tr>
        <div style="width: auto; height: auto;">
        <td><img src="..\public\images\22.jpg" class="rounded" alt="..." width="150" height="150"></td>
        </div>
        <td>
            <p>
            <h4>Muffins</h4>
            $25.00  &nbsp;&nbsp;  250 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
      <tr>
        <div style="width: auto; height: auto;">
        <td><img src="..\public\images\22.jpg" class="rounded" alt="..." width="150" height="150"></td>
        </div>
        <td>
            <p>
            <h4>Muffins</h4>
            $25.00  &nbsp;&nbsp;  250 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
      <tr>
        <div style="width: auto; height: auto;">
        <td><img src="..\public\images\22.jpg" class="rounded" alt="..." width="150" height="150"></td>
        </div>
        <td>
            <p>
            <h4>Muffins</h4>
            $25.00  &nbsp;&nbsp;  250 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
      <tr>
        <div style="width: auto; height: auto;">
        <td><img src="..\public\images\22.jpg" class="rounded" alt="..." width="150" height="150"></td>
        </div>
        <td>
            <p>
            <h4>Muffins</h4>
            $25.00  &nbsp;&nbsp;  250 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
      <tr>
        <div style="width: auto; height: auto;">
        <td><img src="..\public\images\22.jpg" class="rounded" alt="..." width="150" height="150"></td>
        </div>
        <td>
            <p>
            <h4>Muffins</h4>
            $25.00  &nbsp;&nbsp;  250 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
      <tr>
        <div style="width: auto; height: auto;">
        <td><img src="..\public\images\22.jpg" class="rounded" alt="..." width="150" height="150"></td>
        </div>
        <td>
            <p>
            <h4>Muffins</h4>
            $25.00  &nbsp;&nbsp;  250 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <!-- THREE -->
    <div class="w-100"></div>
    <p id="Specials"></p>
    <div style="height: 100px;"></div>
    <h1 class="font-weight-bold" style="padding-top: 20px; color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px dodgerblue;">
      Specials
    </h1>
    <br>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\11.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Rice Krispies</h4>
            $30.00 &nbsp;&nbsp; 300 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\11.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Rice Krispies</h4>
            $30.00 &nbsp;&nbsp; 300 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\11.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Rice Krispies</h4>
            $30.00 &nbsp;&nbsp; 300 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\11.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Rice Krispies</h4>
            $30.00 &nbsp;&nbsp; 300 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <a href="riceKrispies.html" class="list-group-item list-group-item-action" >
      <table style="table-layout: fixed; width: 100%; height:100%;">
        <tr>
          <td><img src="..\public\images\11.jpg" class="rounded" alt="..." width="150" height="150"></td>
          <td>
            <p>
            <h4>Rice Krispies</h4>
            $30.00 &nbsp;&nbsp; 300 Mg
            </p>
        </td>
        </tr>
      </table>
    </a>

    <br><br><br><br><br>
  </div>
</body>
<!-- End Body -->


<!-- Bottom Navbar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark" style="justify-content: space-evenly;">
  <a class="navbar-brand" href="menu.html"">Home</a>
  <a class="navbar-brand" href="menu.html"> Menu </a>
  <a class="navbar-brand" href="#">Deals</a>
  <a class="navbar-brand" href="login.html">Account</a>
</nav>
<!-- End Bottom Navbar -->

</html>
