

/* https://flexbox.malven.co/ */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#basics-and-terminology */

.container div, .row div, .col div
{
    border: 1px rgb(0, 0, 0) solid;
    /* padding: 10px; */
}

.container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.col
{
    order: 0;
}

